## **Data Mining Project - Deliverable 1**

Student ID 1: 20250422

Student ID 2:

Student ID 3: 

we can put this in here or in the end of the notebook

This project focus on an Exploratory Data Analysis, following the CRISP-DM Methodology

## Business Understanding

Goal: Segment customers of Amazing International Airlines Inc. to identify behaviorally and economically distinct groups.
Business questions:
 - Who are the high-value frequent travelers?
 - Which groups are at risk of churn?
 - How can we personalize marketing based on income, loyalty, or travel habits?

Success criteria:
 - Segments are interpretable (demographic, behavioral, value-based)
 - Each segment supports specific business actions (targeted offers, retention strategy)

For this we have two available datasets: 

- DM_AIAI_CustomerDB.csv : with information regarding the costumers on the loyalty program

- DM_AIAI_FlightsDB.csv : with information regarding the costumers' flying activity with AIAI Airlines

## Data Understanding

In [1]:
# import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl

In [15]:

customerDB = pd.read_csv('DM_AIAI_CustomerDB.csv')
flightsDB = pd.read_csv('DM_AIAI_FlightsDB.csv')
metadata = pd.read_csv('DM_AIAI_Metadata.csv', sep=';') # this file is not comma separated but semicolon separated

In [7]:
#DESCRIPTIVE STATISTICS AND VISUALIZATIONS
# ver head(), info(), describe( of each dataframe)
# fazer histogramas e boxplots das variáveis 

#ASSESS DATA QUALITY ISSUES AND CLUSTERING RELIABILITY ??
# check for missing values, duplicates, inconsistencies, outliers

#IDENTIFY PRELIMINARY BEHAVIORAL SIGNALS
# ver correlações e scatter plots entre as features

#DEVELOP AND JUSTIFY ENGINEERED FEATURES

In [16]:
display(metadata)

,CustomerDB,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,Variable,Description,NaN
1,NaN,Loyalty#,Unique customer identifier for loyalty program...,NaN
2,NaN,First Name,Customer's first name,NaN
3,NaN,Last Name,Customer's last name,NaN
4,NaN,Customer Name,Customer's full name (concatenated),NaN
5,NaN,Country,Customer's country of residence,NaN
6,NaN,Province or State,Customer's province or state,NaN
7,NaN,City,Customer's city of residence,NaN
8,NaN,Latitude,Geographic latitude coordinate of customer loc...,NaN
9,NaN,Longitude,Geographic longitude coordinate of customer lo...,NaN
10,NaN,Postal code,Customer's postal/ZIP code,NaN
11,NaN,Gender,Customer's gender,NaN
12,NaN,Education,"Customer's highest education level (Bachelor, ...",NaN
13,NaN,Location Code,Urban/Suburban/Rural classification of custome...,NaN
14,NaN,Income,Customer's annual income,NaN
15,NaN,Marital Status,"Customer's marital status (Married, Single, Di...",NaN
16,NaN,LoyaltyStatus,Current tier status in loyalty program (Star >...,NaN
17,NaN,EnrollmentDateOpening,Date when customer joined the loyalty program,NaN
18,NaN,CancellationDate,Date when customer left the program,NaN
19,NaN,Customer Lifetime Value,Total calculated monetary value of customer re...,NaN
20,NaN,EnrollmentType,Method of joining loyalty program,NaN
21,NaN,NaN,NaN,NaN
22,FlightsDB,NaN,NaN,NaN
23,NaN,Variable,Description,NaN
24,NaN,Loyalty#,Unique customer identifier linking to CustomerDB,NaN
25,NaN,Year,Year of flight activity record,NaN
26,NaN,Month,Month of flight activity record (1-12),NaN
27,NaN,YearMonthDate,First day of the month for the activity period,NaN
28,NaN,NumFlights,Total number of flights taken by customer in t...,NaN
29,NaN,NumFlightsWithCompanions,Number of flights where customer traveled with...,NaN
30,NaN,DistanceKM,Total distance traveled in kilometers for the ...,NaN
31,NaN,PointsAccumulated,Loyalty points earned by customer during the m...,NaN
32,NaN,PointsRedeemed,Loyalty points spent/redeemed by customer duri...,NaN
33,NaN,DollarCostPointsRedeemed,Dollar value of points redeemed during the month,NaN

**Analyzing CustomerDB**

In [11]:
customerDB.head()

,Unnamed: 0,Loyalty#,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,...,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType
0,0,480934,Cecilia,Householder,Cecilia Householder,Canada,Ontario,Toronto,43.653225,-79.383186,...,female,Bachelor,Urban,70146.0,Married,Star,2/15/2019,NaN,3839.14,Standard
1,1,549612,Dayle,Menez,Dayle Menez,Canada,Alberta,Edmonton,53.544388,-113.490930,...,male,College,Rural,0.0,Divorced,Star,3/9/2019,NaN,3839.61,Standard
2,2,429460,Necole,Hannon,Necole Hannon,Canada,British Columbia,Vancouver,49.282730,-123.120740,...,male,College,Urban,0.0,Single,Star,7/14/2017,1/8/2021,3839.75,Standard
3,3,608370,Queen,Hagee,Queen Hagee,Canada,Ontario,Toronto,43.653225,-79.383186,...,male,College,Suburban,0.0,Single,Star,2/17/2016,NaN,3839.75,Standard
4,4,530508,Claire,Latting,Claire Latting,Canada,Quebec,Hull,45.428730,-75.713364,...,male,Bachelor,Suburban,97832.0,Married,Star,10/25/2017,NaN,3842.79,2021 Promotion

In [5]:
customerDB.shape

(16921, 21)

In [3]:
customerDB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16921 entries, 0 to 16920
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               16921 non-null  int64
 1   Loyalty#                 16921 non-null  int64
 2   First Name               16921 non-null  object
 3   Last Name                16921 non-null  object
 4   Customer Name            16921 non-null  object
 5   Country                  16921 non-null  object
 6   Province or State        16921 non-null  object
 7   City                     16921 non-null  object
 8   Latitude                 16921 non-null  float64
 9   Longitude                16921 non-null  float64
 10  Postal code              16921 non-null  object
 11  Gender                   16921 non-null  object
 12  Education                16921 non-null  object
 13  Location Code            16921 non-null  object
 14  Income                   16901 non-null  float64
 15  Marital Status           16921 non-null  object
 16  LoyaltyStatus            16921 non-null  object
 17  EnrollmentDateOpening    16921 non-null  object
 18  CancellationDate         2310 non-null   object
 19  Customer Lifetime Value  16901 non-null  float64
 20  EnrollmentType           16921 non-null  object
dtypes: float64(4), int64(2), object(15)
memory usage: 2.7+ MB

The data types seem to be correct, let's examine the null values:

In [8]:
print(customerDB.isnull().sum())

Unnamed: 0                     0
Loyalty#                       0
First Name                     0
Last Name                      0
Customer Name                  0
Country                        0
Province or State              0
City                           0
Latitude                       0
Longitude                      0
Postal code                    0
Gender                         0
Education                      0
Location Code                  0
Income                        20
Marital Status                 0
LoyaltyStatus                  0
EnrollmentDateOpening          0
CancellationDate           14611
Customer Lifetime Value       20
EnrollmentType                 0
dtype: int64

On an initial analysis, we have missing values in the columns 'Income', 'CancellationDate' and 'Customer Lifetime Value'. In 'CancellationDate', the behaviour is normal since the majority of people haven't cancelled the Loyalty Program. The two other columns we'll be analyzed ahead.

In [7]:
customerDB.columns

Index(['Unnamed: 0', 'Loyalty#', 'First Name', 'Last Name', 'Customer Name',
       'Country', 'Province or State', 'City', 'Latitude', 'Longitude',
       'Postal code', 'Gender', 'Education', 'Location Code', 'Income',
       'Marital Status', 'LoyaltyStatus', 'EnrollmentDateOpening',
       'CancellationDate', 'Customer Lifetime Value', 'EnrollmentType'],
      dtype='object')

In [ ]:
#check for unique values in categorical features
costumers_categories = ['Country', 'Province or State','City', 'Gender', 'Education', 'Marital Status', 'LoyaltyStatus', 'EnrollmentType']

for feat in costumers_categories:
    print(f'{feat}:')
    print(customerDB[feat].unique())

Country:
['Canada']
Province or State:
['Ontario' 'Alberta' 'British Columbia' 'Quebec' 'Yukon' 'New Brunswick'
 'Manitoba' 'Nova Scotia' 'Saskatchewan' 'Newfoundland'
 'Prince Edward Island']
City:
['Toronto' 'Edmonton' 'Vancouver' 'Hull' 'Whitehorse' 'Trenton' 'Montreal'
 'Dawson Creek' 'Quebec City' 'Moncton' 'Fredericton' 'Ottawa' 'Tremblant'
 'Calgary' 'Whistler' 'Thunder Bay' 'Peace River' 'Winnipeg' 'Sudbury'
 'West Vancouver' 'Halifax' 'London' 'Victoria' 'Regina' 'Kelowna'
 "St. John's" 'Kingston' 'Banff' 'Charlottetown']
Gender:
['female' 'male']
Education:
['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
Marital Status:
['Married' 'Divorced' 'Single']
LoyaltyStatus:
['Star' 'Aurora' 'Nova']
EnrollmentType:
['Standard' '2021 Promotion']

We can see here that the only 'Country' is Canada which makes this column irrelevant for data segmentation. From the other features, we understand that the data is correct and doesn't need corrections.

On Feature Engineering, we'll remove the 'Country' column.

In [13]:
customerDB.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,16921.0,8440.023639,4884.775439,0.000000,4210.000000,8440.000000,12670.000000,16900.000000
Loyalty#,16921.0,550197.393771,259251.503597,100011.000000,326823.000000,550896.000000,772438.000000,999999.000000
Latitude,16921.0,47.174500,3.307971,42.984924,44.231171,46.087818,49.282730,60.721188
Longitude,16921.0,-91.814768,22.242429,-135.056840,-120.237660,-79.383186,-74.596184,-52.712578
Income,16901.0,37758.038400,30368.992499,0.000000,0.000000,34161.000000,62396.000000,99981.000000
Customer Lifetime Value,16901.0,7990.460188,6863.173093,1898.010000,3979.720000,5780.180000,8945.690000,83325.380000

In 'Income' column we can see that at least 25% of customers in the Loyaty Program have Income equal to 0.

In [17]:
customerDB.describe(include=['object']).T

                       count unique          top   freq
First Name             16921   4941       Stacey     13
Last Name              16921  15404        Ypina      4
Customer Name          16921  16921  Emma Martin      1
Country                16921      1       Canada  16921
Province or State      16921     11      Ontario   5468
City                   16921     29      Toronto   3390
Postal code            16921     75      V6E 3D9    917
Gender                 16921      2       female   8497
Education              16921      5     Bachelor  10586
Location Code          16921      3     Suburban   5716
Marital Status         16921      3      Married   9842
LoyaltyStatus          16921      3         Star   7761
EnrollmentDateOpening  16921   2449     4/3/2015     34
CancellationDate        2310   1260     7/7/2020      8
EnrollmentType         16921      2     Standard  15773

**Analyzing FlightsDB**

We have 3 variables dedicated to the time, this is tripling its significance, we should probably merge the 3 and crete a date time variable. Check if there is a relationship between the Distance and the Points acummulated, or the number of flights. The points redeemed and the Cost of the points redeemed is probably redundante.

Loyalty is the costumer identifier so it should be the index for the costumers dataset