## Data Mining Project - Deliverable 1

In this project we will follow the CRIPS-DM methodology. We will start with :

### **Business Understanding:**
We want to segment the costumers in the Loyalty Program of AIAI Airlines. We want to explore value-based segmentation, behavioral segmentation and demographic segmentation. Ultimeltly we want to combine the three perspectives into a final segmentation framework.

For this we have two available datasets:
    - DM_AIAI_CustomerDB.csv : with information regarding the costumers
    - DM_AIAI_FlightsDB.csv : with information regarding the costumers' flying activity with AIAI Airlines

### **Data Understanding :**

In [1]:
# import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl

In [ ]:
# read the available files
df_customerDB = pd.read_csv('DM_AIAI_CustomerDB.csv')
df_flightsDB = pd.read_csv('DM_AIAI_FlightsDB.csv')
df_metadata = pd.read_csv('DM_AIAI_Metadata.csv', sep=';') # this file is not comma separated but semicolon separated

In [3]:
#DESCRIPTIVE STATISTICS AND VISUALIZATIONS
# ver head(), info(), describe( of each dataframe)
# fazer histogramas e boxplots das variáveis 

#ASSESS DATA QUALITY ISSUES AND CLUSTERING RELIABILITY ??
# check for missing values, duplicates, inconsistencies, outliers

#IDENTIFY PRELIMINARY BEHAVIORAL SIGNALS
# ver correlações e scatter plots entre as features

#DEVELOP AND JUSTIFY ENGINEERED FEATURES

In [4]:
display(df_metadata)

,CustomerDB,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,Variable,Description,NaN
1,NaN,Loyalty#,Unique customer identifier for loyalty program...,NaN
2,NaN,First Name,Customer's first name,NaN
3,NaN,Last Name,Customer's last name,NaN
4,NaN,Customer Name,Customer's full name (concatenated),NaN
5,NaN,Country,Customer's country of residence,NaN
6,NaN,Province or State,Customer's province or state,NaN
7,NaN,City,Customer's city of residence,NaN
8,NaN,Latitude,Geographic latitude coordinate of customer loc...,NaN
9,NaN,Longitude,Geographic longitude coordinate of customer lo...,NaN
10,NaN,Postal code,Customer's postal/ZIP code,NaN
11,NaN,Gender,Customer's gender,NaN
12,NaN,Education,"Customer's highest education level (Bachelor, ...",NaN
13,NaN,Location Code,Urban/Suburban/Rural classification of custome...,NaN
14,NaN,Income,Customer's annual income,NaN
15,NaN,Marital Status,"Customer's marital status (Married, Single, Di...",NaN
16,NaN,LoyaltyStatus,Current tier status in loyalty program (Star >...,NaN
17,NaN,EnrollmentDateOpening,Date when customer joined the loyalty program,NaN
18,NaN,CancellationDate,Date when customer left the program,NaN
19,NaN,Customer Lifetime Value,Total calculated monetary value of customer re...,NaN
20,NaN,EnrollmentType,Method of joining loyalty program,NaN
21,NaN,NaN,NaN,NaN
22,FlightsDB,NaN,NaN,NaN
23,NaN,Variable,Description,NaN
24,NaN,Loyalty#,Unique customer identifier linking to CustomerDB,NaN
25,NaN,Year,Year of flight activity record,NaN
26,NaN,Month,Month of flight activity record (1-12),NaN
27,NaN,YearMonthDate,First day of the month for the activity period,NaN
28,NaN,NumFlights,Total number of flights taken by customer in t...,NaN
29,NaN,NumFlightsWithCompanions,Number of flights where customer traveled with...,NaN
30,NaN,DistanceKM,Total distance traveled in kilometers for the ...,NaN
31,NaN,PointsAccumulated,Loyalty points earned by customer during the m...,NaN
32,NaN,PointsRedeemed,Loyalty points spent/redeemed by customer duri...,NaN
33,NaN,DollarCostPointsRedeemed,Dollar value of points redeemed during the month,NaN

In [5]:
metadata_customerDB = df_metadata.loc[1:20,['Unnamed: 1', 'Unnamed: 2']]
metadata_customerDB.columns = ['Variable', 'Description']
display(metadata_customerDB)

                   Variable                                        Description
1                  Loyalty#  Unique customer identifier for loyalty program...
2                First Name                              Customer's first name
3                 Last Name                               Customer's last name
4             Customer Name                Customer's full name (concatenated)
5                   Country                    Customer's country of residence
6         Province or State                       Customer's province or state
7                      City                       Customer's city of residence
8                  Latitude  Geographic latitude coordinate of customer loc...
9                 Longitude  Geographic longitude coordinate of customer lo...
10              Postal code                         Customer's postal/ZIP code
11                   Gender                                  Customer's gender
12                Education  Customer's highest education level (Bachelor, ...
13            Location Code  Urban/Suburban/Rural classification of custome...
14                   Income                           Customer's annual income
15           Marital Status  Customer's marital status (Married, Single, Di...
16            LoyaltyStatus  Current tier status in loyalty program (Star >...
17    EnrollmentDateOpening      Date when customer joined the loyalty program
18         CancellationDate                Date when customer left the program
19  Customer Lifetime Value  Total calculated monetary value of customer re...
20           EnrollmentType                  Method of joining loyalty program

We can already suppose that the first name and last name variables wont be informative since we have a vairiable Customer Name that is the combination of the two. We should check if there is any error in the Costumer Name. We should probably calculate a featyre of the time the customer was in the loyalty program.

"Customer segmentation enables AIAI to identify distinct groups within their loyalty program." We are interested in segmenting the customers in the loyalty program, so should we remove the costumers that have already left the program? Question for the teacher.

In [6]:
metadata_flightsDB = df_metadata.loc[24:,['Unnamed: 1', 'Unnamed: 2']]
metadata_flightsDB.columns = ['Variable', 'Description']
display(metadata_flightsDB)

,Variable,Description
24,Loyalty#,Unique customer identifier linking to CustomerDB
25,Year,Year of flight activity record
26,Month,Month of flight activity record (1-12)
27,YearMonthDate,First day of the month for the activity period
28,NumFlights,Total number of flights taken by customer in t...
29,NumFlightsWithCompanions,Number of flights where customer traveled with...
30,DistanceKM,Total distance traveled in kilometers for the ...
31,PointsAccumulated,Loyalty points earned by customer during the m...
32,PointsRedeemed,Loyalty points spent/redeemed by customer duri...
33,DollarCostPointsRedeemed,Dollar value of points redeemed during the month

We have 3 variables dedicated to the time, this is tripling its significance, we should probably merge the 3 and crete a date time variable.
Check if there is a relationship between the Distance and the Points acummulated, or the number of flights. The points redeemed and the Cost of the points redeemed is probably redundante.

Loyalty is the costumer identifier so it should be the index for the costumers dataset

In [7]:
df_customerDB.head()

,Unnamed: 0,Loyalty#,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,...,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType
0,0,480934,Cecilia,Householder,Cecilia Householder,Canada,Ontario,Toronto,43.653225,-79.383186,...,female,Bachelor,Urban,70146.0,Married,Star,2/15/2019,NaN,3839.14,Standard
1,1,549612,Dayle,Menez,Dayle Menez,Canada,Alberta,Edmonton,53.544388,-113.490930,...,male,College,Rural,0.0,Divorced,Star,3/9/2019,NaN,3839.61,Standard
2,2,429460,Necole,Hannon,Necole Hannon,Canada,British Columbia,Vancouver,49.282730,-123.120740,...,male,College,Urban,0.0,Single,Star,7/14/2017,1/8/2021,3839.75,Standard
3,3,608370,Queen,Hagee,Queen Hagee,Canada,Ontario,Toronto,43.653225,-79.383186,...,male,College,Suburban,0.0,Single,Star,2/17/2016,NaN,3839.75,Standard
4,4,530508,Claire,Latting,Claire Latting,Canada,Quebec,Hull,45.428730,-75.713364,...,male,Bachelor,Suburban,97832.0,Married,Star,10/25/2017,NaN,3842.79,2021 Promotion

In [8]:
df_customerDB.columns

Index(['Unnamed: 0', 'Loyalty#', 'First Name', 'Last Name', 'Customer Name',
       'Country', 'Province or State', 'City', 'Latitude', 'Longitude',
       'Postal code', 'Gender', 'Education', 'Location Code', 'Income',
       'Marital Status', 'LoyaltyStatus', 'EnrollmentDateOpening',
       'CancellationDate', 'Customer Lifetime Value', 'EnrollmentType'],
      dtype='object')

We have a column called 'Unnamed: 0' that has the index information which is not relevant so we should drop it

In [9]:
df_customerDB.drop('Unnamed: 0', axis=1, inplace=True)
df_customerDB.head()

,Loyalty#,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,Postal code,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType
0,480934,Cecilia,Householder,Cecilia Householder,Canada,Ontario,Toronto,43.653225,-79.383186,M2Z 4K1,female,Bachelor,Urban,70146.0,Married,Star,2/15/2019,NaN,3839.14,Standard
1,549612,Dayle,Menez,Dayle Menez,Canada,Alberta,Edmonton,53.544388,-113.490930,T3G 6Y6,male,College,Rural,0.0,Divorced,Star,3/9/2019,NaN,3839.61,Standard
2,429460,Necole,Hannon,Necole Hannon,Canada,British Columbia,Vancouver,49.282730,-123.120740,V6E 3D9,male,College,Urban,0.0,Single,Star,7/14/2017,1/8/2021,3839.75,Standard
3,608370,Queen,Hagee,Queen Hagee,Canada,Ontario,Toronto,43.653225,-79.383186,P1W 1K4,male,College,Suburban,0.0,Single,Star,2/17/2016,NaN,3839.75,Standard
4,530508,Claire,Latting,Claire Latting,Canada,Quebec,Hull,45.428730,-75.713364,J8Y 3Z5,male,Bachelor,Suburban,97832.0,Married,Star,10/25/2017,NaN,3842.79,2021 Promotion

This is a dataset about the costumers in the loyalty program, so the index should be the costumer ID - Loyalty#

In [10]:
df_customerDB.set_index('Loyalty#', inplace=True)
df_customerDB.head()

,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,Postal code,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType
Loyalty#,,,,,,,,,,,,,,,,,,,
480934,Cecilia,Householder,Cecilia Householder,Canada,Ontario,Toronto,43.653225,-79.383186,M2Z 4K1,female,Bachelor,Urban,70146.0,Married,Star,2/15/2019,NaN,3839.14,Standard
549612,Dayle,Menez,Dayle Menez,Canada,Alberta,Edmonton,53.544388,-113.490930,T3G 6Y6,male,College,Rural,0.0,Divorced,Star,3/9/2019,NaN,3839.61,Standard
429460,Necole,Hannon,Necole Hannon,Canada,British Columbia,Vancouver,49.282730,-123.120740,V6E 3D9,male,College,Urban,0.0,Single,Star,7/14/2017,1/8/2021,3839.75,Standard
608370,Queen,Hagee,Queen Hagee,Canada,Ontario,Toronto,43.653225,-79.383186,P1W 1K4,male,College,Suburban,0.0,Single,Star,2/17/2016,NaN,3839.75,Standard
530508,Claire,Latting,Claire Latting,Canada,Quebec,Hull,45.428730,-75.713364,J8Y 3Z5,male,Bachelor,Suburban,97832.0,Married,Star,10/25/2017,NaN,3842.79,2021 Promotion

In [11]:
df_customerDB.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16921 entries, 480934 to 100016
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   First Name               16921 non-null  object
 1   Last Name                16921 non-null  object
 2   Customer Name            16921 non-null  object
 3   Country                  16921 non-null  object
 4   Province or State        16921 non-null  object
 5   City                     16921 non-null  object
 6   Latitude                 16921 non-null  float64
 7   Longitude                16921 non-null  float64
 8   Postal code              16921 non-null  object
 9   Gender                   16921 non-null  object
 10  Education                16921 non-null  object
 11  Location Code            16921 non-null  object
 12  Income                   16901 non-null  float64
 13  Marital Status           16921 non-null  object
 14  LoyaltyStatus            16921 non-null  object
 15  EnrollmentDateOpening    16921 non-null  object
 16  CancellationDate         2310 non-null   object
 17  Customer Lifetime Value  16901 non-null  float64
 18  EnrollmentType           16921 non-null  object
dtypes: float64(4), object(15)
memory usage: 2.6+ MB

Check the cancellation date, if we need to

From here we can see that apparently only the Cancellation Date and the Costumer Lifetime Value have Null values. For the cancellation date it is expected, because it probably means the costumer is still in the program. For the Costumer Lifetime Value, it doesnt make as much sense

Lets split the variables in numerical and categorical. The ones whos Dtype is object will be continuous.

In [12]:
costumers_num_var = ['Latitude','Longitude','Income','Customer Lifetime Value']
costumers_cat_var = df_customerDB.columns.drop(costumers_num_var)
print(costumers_cat_var)

Index(['First Name', 'Last Name', 'Customer Name', 'Country',
       'Province or State', 'City', 'Postal code', 'Gender', 'Education',
       'Location Code', 'Marital Status', 'LoyaltyStatus',
       'EnrollmentDateOpening', 'CancellationDate', 'EnrollmentType'],
      dtype='object')

In [13]:
costumers_categories = ['Country', 'Province or State','City', 'Gender', 'Education', 'Marital Status', 'LoyaltyStatus', 'EnrollmentType']

for feat in costumers_categories:
    print(f'{feat}:')
    print(df_customerDB[feat].unique())

Country:
['Canada']
Province or State:
['Ontario' 'Alberta' 'British Columbia' 'Quebec' 'Yukon' 'New Brunswick'
 'Manitoba' 'Nova Scotia' 'Saskatchewan' 'Newfoundland'
 'Prince Edward Island']
City:
['Toronto' 'Edmonton' 'Vancouver' 'Hull' 'Whitehorse' 'Trenton' 'Montreal'
 'Dawson Creek' 'Quebec City' 'Moncton' 'Fredericton' 'Ottawa' 'Tremblant'
 'Calgary' 'Whistler' 'Thunder Bay' 'Peace River' 'Winnipeg' 'Sudbury'
 'West Vancouver' 'Halifax' 'London' 'Victoria' 'Regina' 'Kelowna'
 "St. John's" 'Kingston' 'Banff' 'Charlottetown']
Gender:
['female' 'male']
Education:
['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
Marital Status:
['Married' 'Divorced' 'Single']
LoyaltyStatus:
['Star' 'Aurora' 'Nova']
EnrollmentType:
['Standard' '2021 Promotion']

From this we can see that the only column we have is Canada, which makes this feature not relevant for data segmentation. We can also see the possible values for the other features. There doesnt seems to be a problem with the data. Bachelor and Maters mean College, should we do something about that?

We will remove the Country feature but only on the part of the project of Feature Engineering