## Data Mining Project - Deliverable 1

In [ ]:
# import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl

In [10]:

df_customerDB = pd.read_csv('DM_AIAI_CustomerDB.csv')
df_flightsDB = pd.read_csv('DM_AIAI_FlightsDB.csv')
df_metadata = pd.read_csv('DM_AIAI_Metadata.csv', sep=';') # this file is not comma separated but semicolon separated

In [7]:
#DESCRIPTIVE STATISTICS AND VISUALIZATIONS
# ver head(), info(), describe( of each dataframe)
# fazer histogramas e boxplots das variáveis 

#ASSESS DATA QUALITY ISSUES AND CLUSTERING RELIABILITY ??
# check for missing values, duplicates, inconsistencies, outliers

#IDENTIFY PRELIMINARY BEHAVIORAL SIGNALS
# ver correlações e scatter plots entre as features

#DEVELOP AND JUSTIFY ENGINEERED FEATURES

In [12]:
display(df_metadata)

,CustomerDB,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,Variable,Description,NaN
1,NaN,Loyalty#,Unique customer identifier for loyalty program...,NaN
2,NaN,First Name,Customer's first name,NaN
3,NaN,Last Name,Customer's last name,NaN
4,NaN,Customer Name,Customer's full name (concatenated),NaN
5,NaN,Country,Customer's country of residence,NaN
6,NaN,Province or State,Customer's province or state,NaN
7,NaN,City,Customer's city of residence,NaN
8,NaN,Latitude,Geographic latitude coordinate of customer loc...,NaN
9,NaN,Longitude,Geographic longitude coordinate of customer lo...,NaN
10,NaN,Postal code,Customer's postal/ZIP code,NaN
11,NaN,Gender,Customer's gender,NaN
12,NaN,Education,"Customer's highest education level (Bachelor, ...",NaN
13,NaN,Location Code,Urban/Suburban/Rural classification of custome...,NaN
14,NaN,Income,Customer's annual income,NaN
15,NaN,Marital Status,"Customer's marital status (Married, Single, Di...",NaN
16,NaN,LoyaltyStatus,Current tier status in loyalty program (Star >...,NaN
17,NaN,EnrollmentDateOpening,Date when customer joined the loyalty program,NaN
18,NaN,CancellationDate,Date when customer left the program,NaN
19,NaN,Customer Lifetime Value,Total calculated monetary value of customer re...,NaN
20,NaN,EnrollmentType,Method of joining loyalty program,NaN
21,NaN,NaN,NaN,NaN
22,FlightsDB,NaN,NaN,NaN
23,NaN,Variable,Description,NaN
24,NaN,Loyalty#,Unique customer identifier linking to CustomerDB,NaN
25,NaN,Year,Year of flight activity record,NaN
26,NaN,Month,Month of flight activity record (1-12),NaN
27,NaN,YearMonthDate,First day of the month for the activity period,NaN
28,NaN,NumFlights,Total number of flights taken by customer in t...,NaN
29,NaN,NumFlightsWithCompanions,Number of flights where customer traveled with...,NaN
30,NaN,DistanceKM,Total distance traveled in kilometers for the ...,NaN
31,NaN,PointsAccumulated,Loyalty points earned by customer during the m...,NaN
32,NaN,PointsRedeemed,Loyalty points spent/redeemed by customer duri...,NaN
33,NaN,DollarCostPointsRedeemed,Dollar value of points redeemed during the month,NaN

In [19]:
metadata_customerDB = df_metadata.loc[1:20,['Unnamed: 1', 'Unnamed: 2']]
metadata_customerDB.columns = ['Variable', 'Description']
display(metadata_customerDB)

                   Variable                                        Description
1                  Loyalty#  Unique customer identifier for loyalty program...
2                First Name                              Customer's first name
3                 Last Name                               Customer's last name
4             Customer Name                Customer's full name (concatenated)
5                   Country                    Customer's country of residence
6         Province or State                       Customer's province or state
7                      City                       Customer's city of residence
8                  Latitude  Geographic latitude coordinate of customer loc...
9                 Longitude  Geographic longitude coordinate of customer lo...
10              Postal code                         Customer's postal/ZIP code
11                   Gender                                  Customer's gender
12                Education  Customer's highest education level (Bachelor, ...
13            Location Code  Urban/Suburban/Rural classification of custome...
14                   Income                           Customer's annual income
15           Marital Status  Customer's marital status (Married, Single, Di...
16            LoyaltyStatus  Current tier status in loyalty program (Star >...
17    EnrollmentDateOpening      Date when customer joined the loyalty program
18         CancellationDate                Date when customer left the program
19  Customer Lifetime Value  Total calculated monetary value of customer re...
20           EnrollmentType                  Method of joining loyalty program