In [9]:
#following the CRISP-DM methodology 
#we will start with 
#1/the Business understanding
#We do have three files:
#the first one describes :
#the second ones describes :
#Our goal is : Customer segmentation for personalized marketing

In [10]:
#2/Data understanding

In [27]:
import csv
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [12]:
customerDB=pd.read_csv('DM_AIAI_CustomerDB.csv')
flightsDB=pd.read_csv('DM_AIAI_FlightsDB.csv')

In [13]:
customerDB.head()

,Unnamed: 0,Loyalty#,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,...,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType
0,0,480934,Cecilia,Householder,Cecilia Householder,Canada,Ontario,Toronto,43.653225,-79.383186,...,female,Bachelor,Urban,70146.0,Married,Star,2/15/2019,NaN,3839.14,Standard
1,1,549612,Dayle,Menez,Dayle Menez,Canada,Alberta,Edmonton,53.544388,-113.490930,...,male,College,Rural,0.0,Divorced,Star,3/9/2019,NaN,3839.61,Standard
2,2,429460,Necole,Hannon,Necole Hannon,Canada,British Columbia,Vancouver,49.282730,-123.120740,...,male,College,Urban,0.0,Single,Star,7/14/2017,1/8/2021,3839.75,Standard
3,3,608370,Queen,Hagee,Queen Hagee,Canada,Ontario,Toronto,43.653225,-79.383186,...,male,College,Suburban,0.0,Single,Star,2/17/2016,NaN,3839.75,Standard
4,4,530508,Claire,Latting,Claire Latting,Canada,Quebec,Hull,45.428730,-75.713364,...,male,Bachelor,Suburban,97832.0,Married,Star,10/25/2017,NaN,3842.79,2021 Promotion

In [14]:
customerDB.shape

(16921, 21)

In [15]:
customerDB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16921 entries, 0 to 16920
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               16921 non-null  int64
 1   Loyalty#                 16921 non-null  int64
 2   First Name               16921 non-null  object
 3   Last Name                16921 non-null  object
 4   Customer Name            16921 non-null  object
 5   Country                  16921 non-null  object
 6   Province or State        16921 non-null  object
 7   City                     16921 non-null  object
 8   Latitude                 16921 non-null  float64
 9   Longitude                16921 non-null  float64
 10  Postal code              16921 non-null  object
 11  Gender                   16921 non-null  object
 12  Education                16921 non-null  object
 13  Location Code            16921 non-null  object
 14  Income                   16901 non-null  float64
 15  Marital Status           16921 non-null  object
 16  LoyaltyStatus            16921 non-null  object
 17  EnrollmentDateOpening    16921 non-null  object
 18  CancellationDate         2310 non-null   object
 19  Customer Lifetime Value  16901 non-null  float64
 20  EnrollmentType           16921 non-null  object
dtypes: float64(4), int64(2), object(15)
memory usage: 2.7+ MB

In [16]:
print(customerDB.isnull().sum())

Unnamed: 0                     0
Loyalty#                       0
First Name                     0
Last Name                      0
Customer Name                  0
Country                        0
Province or State              0
City                           0
Latitude                       0
Longitude                      0
Postal code                    0
Gender                         0
Education                      0
Location Code                  0
Income                        20
Marital Status                 0
LoyaltyStatus                  0
EnrollmentDateOpening          0
CancellationDate           14611
Customer Lifetime Value       20
EnrollmentType                 0
dtype: int64

In [17]:
#from what this shows, we have a total of 16921 rows and 23 columns
#but we have somme missing values in 3 columns: 
#CancellationDate :2310 (14611 missing)
#Customer Lifetime Value:16901( 20 missing)
#Income: 16901 ( 20 missing)

In [18]:
customerDB.describe()

,Unnamed: 0,Loyalty#,Latitude,Longitude,Income,Customer Lifetime Value
count,16921.000000,16921.000000,16921.000000,16921.000000,16901.000000,16901.000000
mean,8440.023639,550197.393771,47.174500,-91.814768,37758.038400,7990.460188
std,4884.775439,259251.503597,3.307971,22.242429,30368.992499,6863.173093
min,0.000000,100011.000000,42.984924,-135.056840,0.000000,1898.010000
25%,4210.000000,326823.000000,44.231171,-120.237660,0.000000,3979.720000
50%,8440.000000,550896.000000,46.087818,-79.383186,34161.000000,5780.180000
75%,12670.000000,772438.000000,49.282730,-74.596184,62396.000000,8945.690000
max,16900.000000,999999.000000,60.721188,-52.712578,99981.000000,83325.380000

In [19]:
len(customerDB)

16921

In [20]:
customerDB.columns.values[0] = "ID"
customerDB.columns.values[1] = "loyalty"

In [21]:
customerDB.head()

,ID,loyalty,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,...,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType
0,0,480934,Cecilia,Householder,Cecilia Householder,Canada,Ontario,Toronto,43.653225,-79.383186,...,female,Bachelor,Urban,70146.0,Married,Star,2/15/2019,NaN,3839.14,Standard
1,1,549612,Dayle,Menez,Dayle Menez,Canada,Alberta,Edmonton,53.544388,-113.490930,...,male,College,Rural,0.0,Divorced,Star,3/9/2019,NaN,3839.61,Standard
2,2,429460,Necole,Hannon,Necole Hannon,Canada,British Columbia,Vancouver,49.282730,-123.120740,...,male,College,Urban,0.0,Single,Star,7/14/2017,1/8/2021,3839.75,Standard
3,3,608370,Queen,Hagee,Queen Hagee,Canada,Ontario,Toronto,43.653225,-79.383186,...,male,College,Suburban,0.0,Single,Star,2/17/2016,NaN,3839.75,Standard
4,4,530508,Claire,Latting,Claire Latting,Canada,Quebec,Hull,45.428730,-75.713364,...,male,Bachelor,Suburban,97832.0,Married,Star,10/25/2017,NaN,3842.79,2021 Promotion

In [22]:
print(customerDB.dtypes)

ID                           int64
loyalty                      int64
First Name                  object
Last Name                   object
Customer Name               object
Country                     object
Province or State           object
City                        object
Latitude                   float64
Longitude                  float64
Postal code                 object
Gender                      object
Education                   object
Location Code               object
Income                     float64
Marital Status              object
LoyaltyStatus               object
EnrollmentDateOpening       object
CancellationDate            object
Customer Lifetime Value    float64
EnrollmentType              object
dtype: object

In [23]:
#From this function , we can see that we have 3 types in our customer table : integer,float and object

In [24]:
#Now we want to explore why we have these missing values in income, cancellation date and customer Lifetime Value

In [26]:
cols_to_check = ["CancellationDate", "Customer Lifetime Value", "Income"]
missing_rows = customerDB[customerDB[cols_to_check].isnull().any(axis=1)]
print(missing_rows)

       ID  loyalty First Name    Last Name        Customer Name Country  \
0       0   480934    Cecilia  Householder  Cecilia Householder  Canada
1       1   549612      Dayle        Menez          Dayle Menez  Canada
3       3   608370      Queen        Hagee          Queen Hagee  Canada
4       4   530508     Claire      Latting       Claire Latting  Canada
5       5   193662   Leatrice       Hanlin      Leatrice Hanlin  Canada
...    ..      ...        ...          ...                  ...     ...
16916  15   100012      Ethan     Thompson       Ethan Thompson  Canada
16917  16   100013      Layla        Young          Layla Young  Canada
16918  17   100014     Amelia      Bennett       Amelia Bennett  Canada
16919  18   100015   Benjamin       Wilson      Benjamin Wilson  Canada
16920  19   100016       Emma       Martin          Emma Martin  Canada

      Province or State          City   Latitude   Longitude  ...  Gender  \
0               Ontario       Toronto  43.653225  -79.383186  ...  female
1               Alberta      Edmonton  53.544388 -113.490930  ...    male
3               Ontario       Toronto  43.653225  -79.383186  ...    male
4                Quebec          Hull  45.428730  -75.713364  ...    male
5                 Yukon    Whitehorse  60.721188 -135.056840  ...    male
...                 ...           ...        ...         ...  ...     ...
16916            Quebec   Quebec City  46.759733  -71.141009  ...    male
16917           Alberta      Edmonton  53.524829 -113.546357  ...  female
16918     New Brunswick       Moncton  46.051866  -64.825428  ...    male
16919            Quebec   Quebec City  46.862970  -71.133444  ...  female
16920  British Columbia  Dawson Creek  55.720562 -120.160090  ...  female

      Education Location Code   Income  Marital Status LoyaltyStatus  \
0      Bachelor         Urban  70146.0         Married          Star
1       College         Rural      0.0        Divorced          Star
3       College      Suburban      0.0          Single          Star
4      Bachelor      Suburban  97832.0         Married          Star
5      Bachelor         Rural  26262.0         Married          Star
...         ...           ...      ...             ...           ...
16916  Bachelor      Suburban      NaN          Single          Star
16917  Bachelor         Rural      NaN         Married          Star
16918  Bachelor         Rural      NaN         Married          Star
16919   College         Urban      NaN         Married          Star
16920    Master      Suburban      NaN          Single          Star

      EnrollmentDateOpening CancellationDate Customer Lifetime Value  \
0                 2/15/2019              NaN                 3839.14
1                  3/9/2019              NaN                 3839.61
3                 2/17/2016              NaN                 3839.75
4                10/25/2017              NaN                 3842.79
5                  5/7/2015              NaN                 3844.57
...                     ...              ...                     ...
16916             2/27/2019        2/27/2019                     NaN
16917             9/20/2017        9/20/2017                     NaN
16918            11/28/2020       11/28/2020                     NaN
16919              4/9/2020         4/9/2020                     NaN
16920             7/21/2020        7/21/2020                     NaN

       EnrollmentType
0            Standard
1            Standard
3            Standard
4      2021 Promotion
5            Standard
...               ...
16916        Standard
16917        Standard
16918        Standard
16919        Standard
16920        Standard

[14631 rows x 21 columns]

In [ ]:
# CancellationDate column:
# Missingness: Not random
# Reason: Customer never cancelled : meaningful
# Treatment: No imputation needed

# Customer Lifetime Value column:
# Missingness: Not random
# Reason: seems to be new customers with no history
# Treatment: Could impute with mean/median or predictive model or let 

# Income column:
# Missingness: Random
# Reason: Customer did not provide or data not collected
# Treatment: Can impute with median or regression model or let

In [ ]:
#visualization

In [47]:
#Correlations

In [ ]:
#Uniques and duplicates

In [ ]:
#3/ data preparation